{% extends "base.html" %}
{%block content%}
<div class="py-2">
    <form method="GET">
        <input type="text" placeholder="search" name="search" class="ring-2 rounded-md p-2">
        <button type="submit"
            class="bg-purple-600 border border-purple-600 text-white p-2 rounded-md hover:text-purple-600 hover:bg-white">search</button>
    </form>
</div>
<div class="py-2">
    <form action="/add-task" method="GET">
        <input type="text" placeholder="Add task" name="task" class="ring-2 rounded-md p-2">
        <button type="submit"
            class="bg-purple-600 border border-purple-600 text-white p-2 rounded-md hover:text-purple-600 hover:bg-white">Add</button>
    </form>
</div>
{%for task in tasks %}
<div class="text-lg px-2 flex justify-between">
    <div>{{forloop.counter}}.{{task.title}}</div>
    <div>
        <a href="/delete-task/{{task.id}}" class="text-red-600 underline">delete</a>
        |
        <a href="/complete_task/{{task.id}}" class="text-green-500 underline">done</a>
    </div>
</div>
{%endfor%}
<div class="flex justify-around">

    {%for page in paginator.page_range%}
    <a href="?page={{page}}&search={{request.GET.search}}" class="text-blue-600 underline my-2">
        {{page}}
    </a>
    {%endfor%}
</div>
{%endblock%}